<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="template :: head">
</head>
<body>
<div th:replace="template :: header"></div>
<div th:replace="template :: rAdmin"></div>
<!--Treść strony-->


<div class="table1">
    <table class="table-add">
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Pesel</th>
            <th>Stanowisko</th>
            <th>Wypłata</th>
            <th></th>

        </tr>

        <form  autocomplete="off" action="#" th:action="@{/admin/add}"
               th:object="${employer}" method="post" role="form">
            <tr>
                <td class="cell-add"><input type="text" th:field="*{name}" placeholder="Imie"/></td>
                <td class="cell-add"><input type="text" th:field="*{surName}" placeholder="Nazwisko"/></td>
                <td class="cell-add"><input type="text" th:field="*{email}" placeholder="Email"/></td>
                <td class="cell-add"><input type="text" th:field="*{pesel}" placeholder="Pesel"/></td>
                <td class="cell-add"><input type="text" th:field="*{position}" placeholder="Stanowisko"/></td>
                <td class="cell-add"><input type="text" th:field="*{salary}" placeholder="Wypłata"/></td>

                <td class="td-edit"><input class="edit" type="submit" value="ok"/></td>



            </tr>
            <tr class="error-msg-table">
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label></td>
                <td class="error-msg-cell"> <label class="error-msg" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}"></label></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label></td>
                <td class="error-msg-cell"><label class="error-msg"  th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}" ></label></td>
                <td class="error-msg-cell"> <label class="error-msg" th:if="${#fields.hasErrors('position')}" th:errors="*{position}" ></label></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></label></td>
                <td class="error-msg-cell"></td>
            </tr>
        </form>
    </table>

</div>

<!--Koniec treści strony-->
<div th:replace="template :: menu-admin"></div>
<div th:replace="template :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>