<!DOCTYPE HTML>
<html lang="pl">
<head>
<link href="https://fonts.googleapis.com/css?family=Lato|Russo+One" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Baza pracowników" />
<meta name="keywords" content="Baza pracowników" />
<link rel="stylesheet" href="Style.css" type="text/css" />
</head>
<body>
<div class="header">

<div class="c" ><a href="/" class="cc"> <i class="fas fa-backspace"></i></a></div>
<div class="a" >Spis pracowników</div>


 </div>
<div class="table1">
    <table>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
	    	<th>Email</th>
            <th>Pesel</th>
			<th>Stanowisko</th>
            <th>Wypłata</th>
			<th></th>

        </tr>
        <tr>
            <form action="/add" method="post">
            <td><input name="name" type="text" /></td>
            <td><input name="surName" type="text" /></td>
            <td><input name="email" type="text" /></td>
            <td><input name="pesel" type="text" /></td>
			<td><input name="position" type="text" /></td>
            <td><input name="salary" type="text" /></td>
            <td class="edit"><input type="submit" value="ok" /></td>
            </form>


        </tr>
    </table>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="footer">2018 &#169 Jakub Górnicki  -  <i class="fas fa-envelope"></i> Kontakt@Smartfon-Serwis.pl </div>
</body>
</html>