<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="template :: head">
</head>
<body>
<div th:replace="template :: header"></div>
<div th:replACE="template :: rAdmin"></div>
<!--Treść strony-->

<div class="table1">
    <table class="table-add">
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Pesel</th>
            <th>Stanowisko</th>
            <th>Wypłata</th>
            <th></th>

        </tr>

        <form th:action="@{/admin/edit(id=${employer.id})}" th:object="${employer}" method="post">
            <tr>
                <td class="cell-add"><input type="text" th:attr="value = ${employer.id}" disabled/></td>
                <td class="cell-add"><input type="text" name="name" th:attr="value = ${employer.name}"/></td>
                <td class="cell-add"><input type="text" name="surName" th:attr="value = ${employer.surName}"/></td>
                <td class="cell-add"><input type="text" name="email" th:attr="value = ${employer.email}"/></td>
                <td class="cell-add"><input type="text" name="pesel" th:attr="value = ${employer.pesel}"/></td>
                <td class="cell-add"><input type="text" name="position" th:attr="value = ${employer.position}"/></td>
                <td class="cell-add"><input type="text" name="salary" th:attr="value = ${employer.salary}"/></td>

                <td class="td-edit"><input type="submit" class="edit" value="ok"/></td>


            </tr>
            <tr class="error-msg-table">
                <td class="error-msg-cell"></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('name')}"
                                                  th:errors="*{name}"></label></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('surName')}"
                                                  th:errors="*{surName}"></label></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('email')}"
                                                  th:errors="*{email}"></label></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('pesel')}"
                                                  th:errors="*{pesel}"></label></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('position')}"
                                                  th:errors="*{position}"></label></td>
                <td class="error-msg-cell"><label class="error-msg" th:if="${#fields.hasErrors('salary')}"
                                                  th:errors="*{salary}"></label></td>
                <td class="error-msg-cell"></td>
            </tr>
        </form>
    </table>

</div>

<!--Koniec treści strony-->
<div th:replace="template :: menu-admin"></div>
<div th:replace="template :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>