<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="template :: head">
</head>
<body>
<div th:replace="template :: header"></div>
<!--Treść strony-->


<div class="table" th:if="not ${users.isEmpty()}">
    <table>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Rola</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="user: ${users}" th:object="${user}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{email}"></td>

            <td th:each="r :${user.roles}" th:object="${r}">

                <span th:if="${r.role == 'ADMIN'}">Administrator</span>
                <span th:if="${r.role == 'USER'}">Urzytkownik</span>

            </td>
            <td  class="td-edit"><a class="edit" href="#" th:href="@{/admin/users/edit(id=${user.id})}">edytuj</a></td>
            <td class="td-edit">
                <form th:if="${user.id != myId}" th:action="@{/admin/users/delete(id=${user.id})}" th:method="delete"><input type="submit"
                                                                                                                             class="delete"
                                                                                                                             value="usuń"/></form>
            </td>
        </tr>
    </table>

</div>
<!--Koniec treści strony-->
<div th:replace="template :: menu-admin"></div>
<div th:replace="template :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>