<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato|Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Baza pracowników"/>
    <meta name="keywords" content="Baza pracowników"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>

</head>
<body>

<div class="header">

    <div class="logo">Spis pracowników</div>
    <div class="user-header">
        <div class="user-data">
            <div class="user-span"><span th:utext="${userName}"></span></div>
            <div class="div-logout">
                <form action="/logout" method="post">
                    <input class="logout" type="submit" value="Wyloguj">
                </form>
            </div>
        </div>

        <div class="user-role"><span th:utext="${adminMessage}"></span></div>

    </div>

</div>

</div>
<div class="table" th:if="not ${users.isEmpty()}">
    <table>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Rola</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="user: ${users}" th:object="${user}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{email}"></td>

            <td th:each="r :${user.roles}" th:object="${r}">

                <span th:if="${r.role == 'ADMIN'}">Administrator</span>
                <span th:if="${r.role == 'USER'}">Urzytkownik</span>

            </td>
            <td  class="td-edit"><a class="edit" href="#" th:href="@{/admin/users/edit(id=${user.id})}">edytuj</a></td>
            <td class="td-edit">
                <form th:if="${user.id != myId}" th:action="@{/admin/users/delete(id=${user.id})}" th:method="delete"><input type="submit"
                                                                                                class="delete"
                                                                                                value="usuń"/></form>
            </td>
        </tr>
    </table>

</div>

<div class="container">
    <div class="menu-toggle">
        <span class="fa fa-plus"></span>
    </div>

    <div class="menu-round">
        <div class="btn-app">
            <div class="fa fa-twitter menu-button-hover"></div>
        </div>
        <div class="btn-app">
            <div class="fa fa-facebook menu-button-hover"></div>
        </div>
        <div class="btn-app">
            <div class="fa fa- fa-wikipedia-w menu-button-hover"></div>
        </div>
    </div>

    <div class="menu-line">
        <div class="btn-app" onclick="location.href='/admin/add';">
            <div class="fa fa-user-plus menu-button-hover"><div class="hoverShow">Dodaj pracownika</div></div>
        </div>
        <div class="btn-app">
            <div class="fa fa-envelope menu-button-hover"><div class="hoverShow">Menu opcja 2</div></div>
        </div>
        <div class="btn-app">
            <div class="fa fa-video-camera menu-button-hover"><div class="hoverShow">Menu opcja 3</div></div>
        </div>
        <div class="btn-app">
            <div class="fa fa-soundcloud menu-button-hover"><div class="hoverShow">Menu opcja 4</div></div>
        </div>
        <div class="btn-app">
            <div class="fa fa-graduation-cap menu-button-hover"><div class="hoverShow">Menu opcja 5</div></div>
        </div>
        <div class="btn-app">
            <div class="fa fa-image menu-button-hover"><div class="hoverShow">Menu opcja 6</div></div>
        </div>
        <div class="btn-app" onclick="location.href='/admin/users';">
            <div class="fa fa-vine menu-button-hover"><div class="hoverShow">Urzytkownicy</div></div>
        </div>
    </div>


</div>

<div class="footer">2018 &#169 Jakub Górnicki - <i class="fas fa-envelope"></i> Kontakt@Smartfon-Serwis.pl</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>