<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link href="https://fonts.googleapis.com/css?family=Lato|Russo+One" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Baza pracowników" />
<meta name="keywords" content="Baza pracowników" />
<link rel="stylesheet" href="Style.css" type="text/css" />
</head>
<body>
<div class="header">

<div class="a" >Spis pracowników</div>
<div class="b" > <a href="/add" class="bb"><i class="fas fa-user-plus"></i></a></div>

 </div>
<div class="table" th:if="not ${allEmployers.isEmpty()}">
    <table>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
	    	<th>Email</th>
            <th>Pesel</th>
			<th>Stanowisko</th>
            <th>Wypłata</th>
			<th></th>
			<th></th>
        </tr>
        <tr th:each="employer: ${allEmployers}" th:object="${employer}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{surName}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{pesel}"></td>
			<td th:text="*{position}"></td>
            <td th:text="*{salary}"></td>
            <td class="edit"><a class="aedit" href="#" th:href="@{/edit(id=${employer.id})}">edytuj</a></td>
            <td class="delete"><a class="adelete" href="#" th:href="@{/delete(id=${employer.id})}">usuń</a></td>


        </tr>
    </table>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="footer">2018 &#169 Jakub Górnicki  -  <i class="fas fa-envelope"></i> Kontakt@Smartfon-Serwis.pl </div>
</body>
</html>